*{
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url(./image.jpg);
    display: cover;
}

.container{
    height: 100vh;
    width: 100%;
    
}

h1 {
  text-align: center;
  font-size: 50px;
}

p {
  background-color: rgba(9, 154, 238, 0.781);
  text-align: center;
  border: none;
  border-radius: 100px;
  font-size:x-large;
  padding: 20px;
}

.tabs{
  width: 100%;
  margin: auto;
  margin-top: 30px;
}

.tab-div{
  display: none;
  height: 60vh;
  align-items: center;
  justify-content: center;
  
}

.show{
  display: flex;
}

.button1,.button2, .button3 {
  display:inline-flex;
  margin: 5px;

} 

.tab-button{
  padding: 15px;
  align-items: center;
  justify-content: center;
  width: 100px;
  background-color:  rgba(9, 154, 238, 0.938)  ;
  border: none;
  border-radius: 2px; 
  color: white;
}

#home {
  width: 50%;
  font-size: 10px;
  margin-left: 20px;
  color: white;
}

#menu {
  color: white;
  background-color:  rgba(9, 154, 238, 0.781) ;
  width: 20%;
  border-radius: 10px;
  margin-left: 20px;
  margin-top: 20px;
  height: 250px;
  
}

th{
  font-size: 25px;
  padding: 10px;
}

td {
  font-size: 15px;
  padding: 5px;
  
}
 








